@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #eee;
  height: auto;
  /* testing */
  transition: background 0.3s ease;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
  /* testing */
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

/* Testing animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 
  Landing
*/
#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url('../img/landing-img.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
  /* filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: all 1s; */
}

#nav {
  display: flex;
  justify-content: center;
}

#nav li {
  list-style-type: none;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 0.4s ease-in;
  width: 5rem;
  cursor: pointer;
}

.btn:hover {
  background: #f4f4f4;
}

/* 
  About
*/
.header {
  padding: 1.2rem;
  text-align: center;
  background: #333;
  color: #fff;
}

.header h2 {
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.header h2 a {
  color: #fff;
  text-decoration: none;
}

.about-text {
  line-height: 1.6;
  margin: 1rem 0;
  text-align: justify;
  text-indent: 30px;
}

.center {
  padding: 0.8rem;
}

/* 
  Projects
*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slides {
  display: none;
}

.slides img {
  border-radius: 3px;
  width: 100%;
}

.slides h3 {
  padding: 1rem;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slide-btn {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 5rem;
  margin: 0.2rem;
  transition: 0.6s ease;
}

.slide-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

/* The dots/bullets/indicators */
#dot-container {
  margin-top: 1.2rem;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 
  Footer
*/
footer {
  text-align: center;
  padding: 2.5rem 1rem;
  margin: auto;
  color: #333;
}

footer h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#contact {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

#contact a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
}

.fas,
.fab {
  color: #333;
  cursor: pointer;
  font-size: 2.5rem;
  transition: ease-in 0.5s;
}

.fa-envelope:hover {
  color: #c71610;
}

.fa-github:hover {
  color: #6e5494;
}

.fa-linkedin:hover {
  color: #0077b5;
}

/* 
  Media queries
*/

/* Screen sizes 500px & up */
@media (min-width: 500px) {
  main {
    border-radius: 0 0 25px 25px;
  }

  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #nav {
    margin-top: 0.8rem;
  }

  #landing-image {
    height: 100vh;
  }

  footer h3 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }

  #contact {
    margin-bottom: 4em;
  }
}

/* Screen sizes 700px & up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
